@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=IM+Fell+English:ital@0;1&family=Merienda:wght@300..900&family=Playwrite+NZ:wght@100..400&display=swap");

@import "tailwindcss";

@import "bootstrap-icons";

@theme {
  --color-page-bg: #e2d5c5;
  --color-header-text: #35887e;
  --color-border: #577568;
  --color-secondary-bg: #fdf1e2;
  --color-error: #e46767;

  /* dark mode */
  --color-page-bg-dark: #032130;
  --color-header-text-dark: #06a5a7;
  --color-border-dark: #06a5a7;
  --color-secondary-bg-dark: #096477;
  --color-text-dark: #e6e6e6;
  --color-example-dark: #7ecdb5;

  --font-header: "Merienda", cursive;
  --font-search: "Playwrite NZ", cursive;
  --font-search-word: "IM Fell English", serif;
}

body {
  margin: 0;
}
